.panel, .listPanel{
    background-color: rgb(255, 255, 255);
    padding: 100px 50px;
    text-align: center;
}

.panel p {
    padding: 0 80px;
}

@media (max-width: 800px) {
    .panel, .listPanel{
        padding: 50px 20px;
    }

    .panel p {
        text-align: left;
        padding: 0 10px;
    }
}