/* Divs */
.title {
    background-color: #B8DDD4;
    width: auto;
    height: 80vh;
    transition: width 2s linear 1s;
    padding: 20% 0 0 0;
    text-align: center;
}

.title p {
    font-size: 20px;
    text-align: center;
}

.title .fa {
    margin: 10px;
    color: #FF72B4;
}

.title #logoLinks {
    display: block;
}

/* Device specific */

@media (max-width: 800px) {
    .title {
        padding: 50% 0 0 0;
        text-align: right;
    }

    .title h1 {
        text-align: right;
    }

    .title p {
        text-align: right;
    }
}