/* Divs */
.title {
    background-color: whitesmoke;
    width: auto;
    height: 80vh;
    transition: width 2s linear 1s;
    padding: 20% 0 0 0;
}

.title p {
    text-align: center;
}

/* Device specific */

@media (max-width: 800px) {
    .title {
        padding: 50% 0 0 0;
    }

    .title h1 {
        text-align: right;
    }

    .title p {
        text-align: right;
    }
}