/* Imports */

body {
    background-color: #B8DDD4;
    margin: 0;
    padding: 0;
}

/* Headers */

h1 {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 300%;
    color: #764B93;
    margin: 0 5px;
}

h2 {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 150%;
    color: #764B93;
}

/* p */

p, li{
    display: inline-block;
    font-family: Roboto, sans-serif;
    color: #2C2C3D;
}

ul {
   text-align: center;
   padding-left: 0;
}

/* br */

br {
    display: none;
}

@media (max-width: 800px) {
    p, li {
        display: block;
    }

    body {
        padding: 0;
    }

    ul {
        padding-left: auto;
        margin-left: auto;
    }
}

/* Animation */

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.hidden {
    opacity: 0;
}

.appear {
    opacity: 100%;
    animation: 1.0s ease-out 0s appear;
}