/* Imports */

body {
    background-color: #B8DDD4;
    margin: 0;
    padding: 0;
}

/* Headers */

h1 {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 300%;
    color: #764B93;
    margin: 0 5px;
}

h2 {
    text-align: center;
    font-family: Nunito, sans-serif;
    font-weight: 100;
    font-size: 150%;
    color: #764B93;
}

/* p */

p, li{
    display: inline-block;
    font-family: Roboto, sans-serif;
    color: #2C2C3D;
    white-space: pre-wrap;
}

ul {
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

.listpanel-left {
    display: inline-block;
    text-align: left;
} 

/* br */

br {
    display: none;
}

@media (max-width: 750px) {
    p, li {
        display: block;
        min-height: 15px;
    }

    body {
        padding: 0;
    }

    ul {
        padding-left: auto;
        margin-left: auto;
    }

    .listpanel-left {
        display: inline-block;
        text-align: left;
    } 
}